
.rmain_signin{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.rcontainer_lspace{
    height: 500px;
    width: 35%;
}
.rsignin_main{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 30%;
    border: 1px solid #dadce0;
    border-radius: 10px;
    height: 500px;
}
.rcontainer_rspace{
    height: 500px;
    width: 35%;
}
.rhead{
    display: flex;
    width: 100%;
    justify-content: center;
    color: #202124;
    padding-bottom: 0;
    padding-top: 16px;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
}
.rfundoh{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 8px;
}
.rfundohh{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    color: grey;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 8%;
}
.rcontent{
    min-height: 15%;
    padding: 2% 5% 0% 5%;
}
.rbt{
    padding:10% 10% 10% 10%;
    display: flex;
    justify-content: flex-end;
    
}
    

.rPass{
    margin-right: 5%;
}
a{
    padding-top: 2%;
    text-align: center;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
    color: #1a73e8;
    padding-right:40% ;
}
.rlink{
    padding-top: 2%;
    text-align: start;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
    color: #1a73e8;
    padding-left:5% ;
}
.rnext{
    padding: 10px 24px 10px 24px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
    color: white;
    background-color: #1a73e8;
    border: none;
    border-radius: 5px;
}
.rcontent_logoss{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
}
.rlogoss{
    width: 80px;
    
}
.error{
    color: red;
    padding: 1% 0% 1% 1%;
}
@media screen and (max-width: 900px) {
    .rcontainer_lspace , .rcontainer_rspace{
        width: 20%;
    }
    .rsignin_main{
        width: 60%;
        
    }
    
}

@media screen and (max-width: 600px) {
    .rcontainer_lspace , .rcontainer_rspace{
        width: 0%;
    }
    
    .rsignin_main{
        width: 100%;
        border:none;
        padding: 0%;
    }

}
@media screen and (max-width: 360px) {
.rcontent{
    padding: 0%;
}
}

