.content-div{
    display: flex;
    flex-direction: row;
}
.content_right{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content_right_notes{
    padding: 2% 10% 10% 10%;
    display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 900px) {
    .content_right_notes{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .content_right_notes{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 400px) {
    .content_right_notes{
        grid-template-columns: 1fr;
    }
}